* {
  box-sizing: border-box;
}

/***** Heading/Paragraph Margin Resets *****/

h1,
h2,
h3,
h6,
p {
  margin: 0;
}

/***** Base Styles *****/

body,
.body-div,
.body-div:nth-of-type(odd) {
  color: hsl(0,0%,29%);
  background: hsl(0,0%,99%);
}

header,
footer,
.body-div:nth-of-type(even) {
  color: hsl(0,0%,99%);
  background-color: hsl(0,0%,19%);
}

.body-div:nth-of-type(even) > h2 {
  border-bottom: 1px solid hsl(0,0%,99%);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  line-height: 1.3em;
}

header {
  max-width: 100%;
  flex-shrink: 0;
  padding-top: 0.25em;
  padding-bottom: 0.75em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: hsl(0,0%,60%);
  font-weight: 400;
}

a:hover {
  opacity: 0.5;
  transition-duration: 0.1s;
}

a:active {
  opacity: 0.9;
}

header a {
  font-weight: 300;
  color: hsl(0,0%,99%)
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  padding-bottom: 0.5em;
  align-self: center;
  border-bottom: 1px solid hsl(0,0%,19%);
}

h3 {
  font-weight: 300;
}

h6 {
  font-weight: 300;
  text-transform: uppercase;
}

#wrap {
  -webkit-overflow-scrolling: touch;
}

/***** Nav Styles *****/

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

nav h1 {
  font-size: 2em;
  font-weight: 300;
}

nav h3 {
  font-size: 1em;
  font-weight: 100;
  text-indent: 0.2em;
}

nav ul,
footer ul {
  display: flex;
  justify-content: center;
}

nav ul {
  margin: 15px auto 0px auto;
}

footer ul {
  margin: 20px auto 15px auto;
}

nav ul li,
footer ul li {
  padding-left: 1em;
  padding-right: 1em;
  align-self: center;
  font-size: 0.9em;
}

nav ul li a {
  padding: 5px 10px 7px 10px;
}

/***** Social Icon Styles *****/

.icon-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon-ul span {
  
}

.icon-ul li {
  padding: 5vh 5vw;
}

.icon-ul li a {
/*  padding: 12.5px 6.25px 0 6.25px;*/
  padding: 5vh 5vw;
  color: hsl(0,0%,40%);
}

.icon-ul svg {
  fill: hsl(0,0%,40%);
  margin-bottom: -5px;
  margin-right: 5px;
}

.icon-ul li svg:hover {
  transform: scale(0.95,0.95);
  transition-duration: 0.2s;
  opacity: 0.8;
}

.icon-ul li svg:active {
  fill: hsla(0,100%,100%,1);
  transition-duration: 0.1s;
}

/***** Body Styles *****/

#container {
  display: flex;
  flex-direction: column;
}

.body-div {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 5px 5px -5px hsla(190,10%,10%,0.5);
  min-height: 90vh;
  padding: 7vh 7vw;
}

#about p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#projects li {
  margin: 0.5em 0.5em 1em 0.5em;
}

#projects li a {
  font-size: 1.2em;
}

.description {
  font-size: 1em;
  padding-top: 0.1em;
}
  
#blog h3 {
  font-weight: 300;
  margin: 0.4em 0;
  font-size: 1.4em;
}

#blog p {
  font-weight: 300;
  margin-bottom: 1em;
}

#blog p:first-of-type {
  margin: 0;
}

#blog h6 {
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

#blog h6:last-of-type {
  border: none;
}

.body-div:last-of-type {   
  padding-bottom: 0;
}


/***** Footer Styles *****/

.scrollToTop {
  display: none;
  position: fixed;
  right: 50%;
  bottom: 0px;
  z-index: 999;
  overflow: hidden;
}

.scrollToTop svg {
  fill: hsl(0,0%,40%);
  opacity: 0.5;
}

footer {
  display: flex;
  flex-shrink: 0;
  flex-basis: 7vh;
  max-height: 7vh;
}

/***** Media Queries *****/

@media screen and (min-width: 641px) {
 
  
  header {
    padding-top: 0.5em;
    padding-bottom: 1em;  
  }
  
  .body-div h2,
  .body-div p,
  .body-div ul,
  form,
  #tumblrfeed {
    max-width: 560px;
    align-self: center;
  }
  
  #contact {
    padding: 10vh 10vw;
  }
  
  .body-div {
    padding: 10vh 5vw;
  }
  
  nav {
    flex-direction: row;
  }
  
  #name {
    align-items: flex-start;
    flex-grow: 1;
    padding-left: 3vw;
  }
  
  nav ul {
    align-self: flex-start;
  }
  
  nav ul li {
    font-size: 1em;
  }
  
  #blog p,
  #tumblrfeed {
    max-width: 560px;
  }
  
  #about ul {
    justify-content: center;
  }

  #about li {
    margin: 1em 0.5em 0em 0.5em;
    padding: 0.2em;
  }
}